In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

keywords

Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist) # list all python keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

list

1) List is an ordered sequence of items.
2) We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

list creation

In [3]:
list1 = [] # empty list
print(type(list1))

<class 'list'>

In [6]:
list2 = [10,20,60]  # list of integers number
list3 = [10,77,30.66,60.89]  # list of float number

In [7]:
list4 = ["one","two" , "three"]  #list of string

In [8]:
list5 = ["amirul", 25 ,[50, 100],[150, 90]]   #nasted lists

In [9]:
list6 = [100, "Amir", 18.99] # list of mixted data type

In [10]:
list7 = [100, "amirul", [50,100],[150,90] , {"Amir" , "David"}]

In [11]:
len(list6) # length of list

3

# list indexing

In [12]:
list2[0] # Retrive first element of the list

10

In [13]:
list4[0] # Retretive first element of the list

'one'

In [14]:
 list4[0][0] # nasted indexing - access the first character of the first list element

'o'

In [15]:
list4[-1] # LAST item of the list

'three'

In [16]:
list5[-1] # last item of  the list

[150, 90]

# List slicing

In [17]:
mylist = ["one" , "two" , "three" , "four" , "five" , "six" , "seven" , "eight"]
mylist[0:3] # return all item from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [18]:
mylist[2:5]# # List all items from 2nd to 5th index location excluding the item at

['three', 'four', 'five']

In [19]:
mylist[:3] # return first three item

['one', 'two', 'three']

In [20]:
mylist[:2] ## Return first two items

['one', 'two']

In [21]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [22]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [23]:
mylist[:] # return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

Add,  remove, & change item

In [24]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [25]:
mylist.append("nine") # add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [26]:
mylist.insert(1,"ten") #add item at index location 9
mylist

['one', 'ten', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [27]:
mylist.remove("one") #remove item "one"
mylist

['ten', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [28]:
mylist.pop() # remove last item of the list
mylist

['ten', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [29]:
mylist.pop(8) # remove item at index location 8
mylist

IndexError: pop index out of range

In [ ]:
del mylist[7] #remove item at index location  7
mylist

In [30]:
# change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'eight']

In [31]:
mylist.clear()
mylist

[]

In [32]:
del mylist #delete the whole list
mylist

NameError: name 'mylist' is not defined

 # copy list

In [33]:
mylist = ["one", "two", "three" , "four" , "five" , "six" , "seven" , "eight" , "nine"]
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [34]:
mylist1 = mylist # create a new reference "mylist1"

In [35]:
id(mylist) , id(mylist) # the adress of the both mylist & mylist1 will be the same

(1898491832064, 1898491832064)

In [36]:
mylist2 = mylist.copy()# create a copy of the list

In [37]:
id(mylist2) # # The address of mylist2 will be different from mylist because mylist

1898491497856

In [38]:
mylist[0] = 1

In [39]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [40]:
mylist1 # mylist1 will be also imoacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [41]:
mylist2 # copy of the list wont be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# join list

In [42]:
list1 = ["one", "two", "three", "four"]
list2 = ["five", "six", "seven", "eight"]

In [43]:
list3 = list1 + list2 #join two list by "+" operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [44]:
list1.extend(list2) #append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# list membership

In [45]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [46]:
"one" in list1 # check if "one" exist in the list

True

In [47]:
"ten" in list1 # check if "ten" exist in the list

False

In [48]:
if "three" in list1: #check if "three" exist in the  list
    print("three is present in the list")
else:
    print("three is not present in the list")

three is present in the list

In [49]:
if "eleven" in list1:# check if eleven exist in the list
    print("eleven  is present in list")
else:
    print("eleven is not present in list")

eleven is not present in list

# Reverse & sort list

In [50]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [51]:
list1.reverse() #reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [52]:
list1 = list1[::-1] #Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [53]:
mylist3 = [6,3,7,0,6,9,3,4,8,5]
mylist3.sort() #sort list in ascending order
mylist3

[0, 3, 3, 4, 5, 6, 6, 7, 8, 9]

In [54]:
mylist3 = [6,3,7,0,6,9,3,4,8,5]
mylist3.sort(reverse=True) # sort list in decending order
mylist3

[9, 8, 7, 6, 6, 5, 4, 3, 3, 0]

In [55]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # return a new sorted list and doesn't change orignal list

[11, 21, 33, 65, 88, 98]

In [56]:
mylist4

[88, 65, 33, 21, 11, 98]

# loop through a list

In [57]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [58]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [59]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [60]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [61]:
list10.count("one") # number of time items "one" occurred in the list

3

In [62]:
list10.count("two") # number of time item "one occurred in the list"

2

In [63]:
list10.count("four") # occurence of item "four" in the list

1

# All / Any
:-The all() method returns:

:-True - If all elements in a list are true

:-False - If any element in a list is false

:-The any() function returns True if any element in the list is True. If not, any() returns False

In [64]:
l1 = [1,2,3,4,0]

In [65]:
all(l1) # will return false as one value is false (value 0)

False

In [66]:
any(l1) # will return true as we have item in the list with true value

True

In [67]:
l2 = [1,2,3,4,True,False]

In [68]:
all(l2) # Returns false as one value is false

False

In [69]:
any(l2)  # Will Return True as we have items in the list with True value

True

In [70]:
all(l2) ## Will return True as all items in the list are True

False

# Tuple Creation

In [71]:
tup1 = ()

In [72]:
tup2 = (10,20,60) # tuple of integer number

In [73]:
tup3 = (10,77,30.66,60,89) # tuple of float number

In [74]:
tup4 = ("one","two", "three") #tuple of strings

In [75]:
tup5 = ("amir",77,(30,100),(150,90)) # nasted tuple

In [76]:
tup6 = (100,"Amir",17.765) # tuple of mixed data type

In [77]:
tup7 = ("Amir",24,[50,100],[150,90],{"Amirul","Zunaid"} , (99,22,33))

In [78]:
len(tup7) #length of list

6

# tuple indexing

In [79]:
tup2[0] # retreive first element of the tuple

10

In [80]:
tup4[0] # retreterive first element of the tuple

'one'

In [81]:
tup4[0][0] # nested first element of the tuple

'o'

In [82]:
tup4[-1] # nested indexing - access the first character of the first tuple element

'three'

In [83]:
tup4[-1] # last item of the tuple

'three'

In [84]:
tup[-1] # last item of the tuple

NameError: name 'tup' is not defined

# Tuple slicing

In [85]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [86]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [87]:
mytuple[2:5] ## List all items from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [88]:
mytuple[:3]# return first three item

('one', 'two', 'three')

In [89]:
mytuple[:2] # return first two item

('one', 'two')

In [90]:
mytuple[-3:] # return last three item

('six', 'seven', 'eight')

In [91]:
mytuple[-2:] # return last two item

('seven', 'eight')

In [92]:
mytuple[-1] # return whole tuple

'eight'

Remove & change item

In [93]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [94]:
del mytuple[0] # tuple are immutable which means we can't delete tuple item

TypeError: 'tuple' object doesn't support item deletion

In [95]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple item

TypeError: 'tuple' object does not support item assignment

In [96]:
del mytuple # delete entire tuple object is possible

# loop through a tuple

In [97]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [98]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [99]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [100]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# count

In [101]:
mytuple1 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [102]:
mytuple1.count("one")) # Number of times item "one" occurred in the tuple.

SyntaxError: unmatched ')' (1369939590.py, line 1)

In [103]:
mytuple1.count("two") # Occurence of item 'two' in the tuple

2

In [104]:
mytuple1.count("three") #Occurence of item 'four' in the tuple

2

# tuple membership

In [105]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [106]:
"one" in mytuple # check if "one " exist in the list

True

In [107]:
"ten" in mytuple

False

In [108]:
if "three" in mytuple:  # Check if 'eleven' exist in the list
    print("Three is present in the tuple")
else:
    print("three is not present in the tuple")

Three is present in the tuple

In [109]:
if "eleven" in mytuple:  # Check if 'eleven' exist in the list
    print("eleven is present in the tuple")
else:
    print("eleven is not present in the tuple")

eleven is not present in the tuple

# index position

In [110]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [111]:
mytuple.index("one")# Index of first element equal to 'one'

0

In [112]:
mytuple.index("five") # Index of first element equal to 'five'

4

In [113]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [114]:
mytuple1.index("one") # Index of first element equal to 'one'

0

# sorting

In [115]:
mytuple2 = (43,67,99,12,6,90,67)

In [116]:
sorted(mytuple2)# Sort in descending order

[6, 12, 43, 67, 67, 90, 99]

In [117]:
sorted(mytuple2, reverse=True)# Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

In [118]:
# loop  through a set

In [121]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [122]:
for i in myset:
    print(i)

three
seven
six
four
two
five
one
eight

In [123]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'seven')
(2, 'six')
(3, 'four')
(4, 'two')
(5, 'five')
(6, 'one')
(7, 'eight')

In [124]:
# set membership

In [125]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [126]:
"one" in myset # check if one exit in the set

True

In [127]:
"ten" in myset # check if ten exit in the set

False

In [128]:
if "three" in myset:
    print("three is present in myset")
else:
    print("three is not present in myset")

three is present in myset

In [129]:
if "ten" in myset:
    print("ten is present in myset")
else:
    print("ten is not present in myset")

ten is not present in myset

In [130]:
#add & remove items

In [131]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [132]:
myset.add("nine") # Add item to a set using add() method
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [133]:
myset.update(["ten", "eleven", "twelve"]) # Add multiple item to a set using 
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [135]:
myset.remove("nine")#remove item in a set using remove() method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [137]:
myset.discard("ten")#remove item from a set using discard() method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [138]:
myset.clear() #Delete all items in a set
myset

set()

In [140]:
del myset
myset

NameError: name 'myset' is not defined

In [142]:
 #copy set

In [143]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [144]:
myset1 = myset # create a referance my set

In [145]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [146]:
id(myset1) , id(myset) # the address of the bothb set will be same

(1898501855200, 1898501855200)

In [147]:
my_set = myset.copy() # create a copy of the list 
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [148]:
id(my_set)

1898501860576

In [149]:
my_set.add("nine")

In [150]:
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [151]:
myset1# myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [152]:
my_set # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [153]:
#  set operation

In [155]:
#union

In [159]:
a = {1,2,3,4}
b = {4,5,6,7}
c = {7,8,9,10}

In [160]:
a|b

{1, 2, 3, 4, 5, 6, 7}

In [161]:
a.union(b)# union of a and b

{1, 2, 3, 4, 5, 6, 7}

In [162]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [163]:
"""
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C.
"""
a.update(b,c)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# intersection

In [172]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [173]:
a & b

{4, 5}

In [174]:
a.intersection(b) intersection of a and b

SyntaxError: invalid syntax (4168783453.py, line 1)

In [175]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
a.intersection_update(b)
a

{4, 5}

# Difference

In [177]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [178]:
a - b # set of elements that are only in A but not in B

{1, 2, 3}

In [179]:
a.difference(b) # Difference of sets

{1, 2, 3}

In [180]:
b- a

{6, 7, 8}

In [181]:
b.difference(a)

{6, 7, 8}

In [183]:
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A.
"""
b.difference_update(a)
b

{6, 7, 8}

# symmetric difference

In [186]:
a = {1,2,3,4,5}
b = {5,6,7,8,9}

In [187]:
a ^ b # Symmetric difference (Set of elements in A and B but not in both. "EXCLUD

{1, 2, 3, 4, 6, 7, 8, 9}

In [188]:
a.symmetric_difference(b) # Symmetric difference of set

{1, 2, 3, 4, 6, 7, 8, 9}

In [189]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetr
For below example Set A will be updated with the symmetric difference of A & B.
"""
a.symmetric_difference_update(b)
a

{1, 2, 3, 4, 6, 7, 8, 9}

# subset, superset & disjoint

In [191]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,4,5,6,7,8}
c = {10,20,30,40}

In [192]:
b.issubset(a)) # Set B is said to be the subset of set A if all elements of B are

True

In [193]:
a.issubset(b)# Set A is said to be the superset of set B if all elements of B

False

In [194]:
c.issubset(a) # Two sets are said to be disjoint sets if they have no common element

False

In [195]:
c.isdisjoint(a)# Two sets are said to be disjoint sets if they have no common element

True

In [196]:
b.isdisjoint(a)

False

# other builtin function

In [197]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [198]:
sum(a)

45

In [199]:
max(a)

9

In [200]:
min(a)

1

In [201]:
len(a)

9

In [202]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [203]:
d= sorted(a,reverse=True)
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]

sorted(d)

# Dictionary

:-Dictionary is a mutable data type in Python.

:-A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
    
:-Keys must be unique in a dictionary, duplicate values are allowed

# create Dictionary

In [207]:
mydict = dict() # empty dictionary
mydict

{}

In [208]:
mydict = {} # empty dictionary
mydict

{}

In [209]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [210]:
mydict = dict({1:"one" , 2:"two" , 3:"three"})# Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [211]:
mydict = {"a":"one","b":"two",3:"three"}# dictionary with mixed key
mydict

{'a': 'one', 'b': 'two', 3: 'three'}

In [212]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [213]:
mydict.keys()# Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [214]:
mydict.values()# Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [215]:
mydict.items()# Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [216]:
mydict = {1:"one" , 2:"two" , "a":["amir","amirul","raj"]} 
mydict

{1: 'one', 2: 'two', 'a': ['amir', 'amirul', 'raj']}

In [221]:
keys = {"a" , "b" , "c" , "d"}
value = 10 # Create a dictionary from a sequence of keys

mydict3 = dict.fromkeys(keys)
mydict3

{'a': None, 'd': None, 'c': None, 'b': None}

In [222]:
keys = {"a" , "b" , "c" , "d"}
value = 10 # Create a dictionary from a sequence of 
mydict3 = dict.fromkeys(keys , value)
mydict3

{'a': 10, 'd': 10, 'c': 10, 'b': 10}

In [224]:
mydict3

{'a': 10, 'd': 10, 'c': 10, 'b': 10}

In [225]:
value.append(40)
mydict3

AttributeError: 'int' object has no attribute 'append'

# accessing items

In [226]:
mydict = {1:"one" , 2:"two" , 3:"three" , 4:"four"}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [227]:
mydict[1] # access item using key

'one'

In [228]:
mydict.get(1)

'one'

In [230]:
mydict1 = {"name":"asif", "id":74123 , "dob":1991 , "job" :"analyst"}
mydict1

{'name': 'asif', 'id': 74123, 'dob': 1991, 'job': 'analyst'}

In [231]:
mydict1 = {"name":"asif" ,"id":1234 , "dob":1991, "address":"Amirul"}
mydict1

{'name': 'asif', 'id': 1234, 'dob': 1991, 'address': 'Amirul'}

In [232]:
mydict1["dob"] = 1992 # changing Dictionary items
mydict1["address"] = "delhi"
mydict1

{'name': 'asif', 'id': 1234, 'dob': 1992, 'address': 'delhi'}

In [233]:
dict1 = {"dob":1995}
mydict1.update(dict1)
mydict1

{'name': 'asif', 'id': 1234, 'dob': 1995, 'address': 'delhi'}

In [234]:
mydict1["job"] = "Analyst" ## # Adding items in the dictionary

In [235]:
mydict1

{'name': 'asif', 'id': 1234, 'dob': 1995, 'address': 'delhi', 'job': 'Analyst'}

In [236]:
mydict1.pop("job")# Removing items in the dictionary using Pop method
mydict1

{'name': 'asif', 'id': 1234, 'dob': 1995, 'address': 'delhi'}

In [237]:
mydict1.popitem()# A random item is removed

('address', 'delhi')

In [238]:
mydict1

{'name': 'asif', 'id': 1234, 'dob': 1995}

In [239]:
del[mydict["id"]]# Removing item using del method
mydict1

KeyError: 'id'

In [240]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# copy Dictionary

In [241]:
mydict1 = mydict# Create a new reference "mydict1"

In [242]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(1898497919168, 1898497919168)

In [243]:
mydict2 = mydict.copy() # create a copy of dictionary

In [244]:
id(mydict2) , id(mydict)# The address of mydict2 will be different from mydict because mydict

(1898498101376, 1898497919168)

In [245]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [246]:
mydict1 #mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [248]:
 mydict2 #Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# loop through a dictionary

In [250]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [251]:
for i in mydict:
    print(i)

Name
ID
DOB
Address

In [254]:
for i in mydict:
    print(i , ":" ,mydict[i])# key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [255]:
for i in mydict:
    print(mydict[i])# Dictionary items

Asif
12345
1991
Hilsinki

# Dictinory membership

In [262]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [264]:
"Name" in mydict1 # Test if a key is in a dictionary or not.

True

In [266]:
"asif" in mydict # Membership test can be only done for keys.

False

In [267]:
"ID" in mydict1

True

In [268]:
"Address" in mydict1

False

:-All / Any

:-The all() method returns:

:- If all all keys of the dictionary are true

:-False - If any key of the dictionary is false

:-The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [269]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [270]:
all(mydict1)# Will Return false as one value is false (Value 0)

True

In [271]:
any(mydict1)#Will Return True as we have items in the dictionary with True val

True

# Dictionary comprehension

In [273]:
double = {i:i*2 for i in range(10)}#double each value using dict comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [274]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [276]:
key = ["one" , "two" , "three" ,"four" , "five"]
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key,value)}
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [278]:
mydict1 = {"a":1.0 , "b":2.0 , "c":3.0 , "d":40 , "e":50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()}
mydict1

{'a': 0.1, 'b': 0.2, 'c': 0.3, 'd': 4.0, 'e': 5.0}

In [279]:
str1 = "Naturel Language processing"

mydict2 = {k:v for (k,v) in enumerate(str1)}# Store enumerated values in a dictionary
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'e',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'p',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [282]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1}
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

# Word Frequency using dictionary

In [283]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [284]:
mylist = mystr4.split() ## Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [285]:
mylist1 = set(mylist) #unique value a list
mylist1 = list(mylist)
mylist1

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [288]:
#calclate frequent of each word
count1 = [0] *len(mylist1)
mydict5 = dict()
for i in range(len(mydict1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'one': 3, 'two': 3, 'three': 2, 'four': 1}

# Operators
:-Operators are special symbols in Python which are used to perform operations on
variables/values.
# Arithmetic Operators

In [291]:
a = 5
b = 2

x = "asif"
y = "amir"

#addition
c = a + b
print("addition of {} and {} will give :- {}\n".format(a,b,c))

#concatenate string using plus operator
z = x+y
print('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z))

#subtraction

c = a - b
print("substracting of {} and {} will give :- {}\n".format(a,b,c))

# multiplication
c = a * b
print("multiplying of {} and {} will give :- {}\n".format(a,b,c))

#Division

c = a / b
print("Dividing of {} and {} will give :- {}\n".format(a,b,c))

# module of both number
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))

#power
c = a ** b
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))

# Division (floor)
c = a// b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- asifamir

substracting of 5 and 2 will give :- 3

multiplying of 5 and 2 will give :- 10

Dividing of 5 and 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

In [2]:
x = 200
y = 300

print("Is x is grater then :-",x>y)

print("\nIs x less then y :- ",x<y)

print("nIs x equal to y :- ",x==y)

print("nIs x not equal to y :- ",x!=y)

print("nIs x greater then or equal to y :-",x>=y)

print("nIs x less then or equal to y:-",x<=y)

Is x is grater then :- False

Is x less then y :-  True
nIs x equal to y :-  False
nIs x not equal to y :-  True
nIs x greater then or equal to y :- False
nIs x less then or equal to y:- True

In [3]:
a = "Asif"
b = "Amirul"
c = "amir"

a == b , a == c , a != b # Comparison operators on string

(False, False, True)

 # logical operator

In [4]:
x = True
y = False

print("Logical AND Operation :-",x and y)# True if both values are true
print("Logical or operation :-",x or y) # true if either of the value is true
print("Not operation :-",not x ) # true if operand is false

Logical AND Operation :- False
Logical or operation :- True
Not operation :- False

# Bitwise operators

Bitwise operators act on bits and performs bit by bit operation.

In [2]:
x = 18# binary from 10010
y = 6 # binary form

print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72

# Assignment operator

In [3]:
X = 10

print ("initialize c with value 10 (x=10)) :-",x)

x+=20 #x = x+20
print ("add 20  to x :- ",x)

x-=20 #x = x-20
print("substract 20 from x :-",x)

x/=10 # x = x/10
print ("divide x by 10 :-",x)

x*=10 # x = x/10
print ("multiply x by10 :-",x)

x= int(x)

x**=2 # x = x/10
print ("x raised to the power 2 :-",x)


x%=2
print ("modulo Division :-",x)

x = 20

x//=3
print ('Floor Division :- ',x)

x&=2
print('Bitwise AND :- ',x)

x|=2
print('Bitwise OR :- ',x)

x^=2
print('Bitwise XOR :- ',x)

x = 1

x<<=2
print('Bitwise left shift operation',x)

x>>=2
print('Bitwise right shift operation',x)

initialize c with value 10 (x=10)) :- 18
add 20  to x :-  38
substract 20 from x :- 18
divide x by 10 :- 1.8
multiply x by10 :- 18.0
x raised to the power 2 :- 324
modulo Division :- 0
Floor Division :-  6
Bitwise AND :-  2
Bitwise OR :-  2
Bitwise XOR :-  0
Bitwise left shift operation 4
Bitwise right shift operation 1